body {
  background: #000;
  color: #00ff00;
  font-family: monospace;
  padding: 10px;
}

a, a:visited {
  color: #00ff00;
}

a:hover {
  text-decoration: none;
}

.emoji {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

@media(min-width:800px) {
  body {
    width: 40%;
    position: relative;
    margin: 0 auto;
  }
}
